{% extends 'SiteMainBundle:Backend:layout.html.twig' %}

{% block content -%}
    <h1>{{ 'backend.client.h1_show'|trans({}, 'menu') }}</h1>

    {{ form(delete_form) }}

    <table class="record_properties table table-striped table-bordered">
        <tbody>
        <tr>
            <th>{{ 'backend.client.fio'|trans({}, 'menu') }}</th>
            <td>{{ entity.fio }}</td>
        </tr>
        <tr>
            <th>{{ 'backend.client.email'|trans({}, 'menu') }}</th>
            <td>{{ entity.email }}</td>
        </tr>        
        </tbody>
    </table>

    <ul class="record_actions nav nav-pills">
        <li>
            <a href="{{ path('backend_client_index') }}">
                {{ 'backend.client.back_to_list'|trans({}, 'menu') }}
            </a>
        </li>
        <li>
            <a href="{{ path('backend_client_edit', { 'id': entity.id }) }}">
                {{ 'backend.edit'|trans({}, 'menu') }}
            </a>
        </li>
        <li>
            <a href="{{ path('backend_client_new') }}">
                {{ 'backend.create'|trans({}, 'menu') }}
            </a>
        </li>
    </ul>
{% endblock %}
