{% extends 'SiteMainBundle:Frontend:layout.html.twig' %}

{% block html %}ng-app="registration"{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block head %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/sitemain/frontend/js/angular.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/sitemain/frontend/js/registration.js') }}"></script>
{% endblock %}

{% block text %}
    {% if page.slug == 'miesto-proviedieniia' %}
        <div class="map">
            {{ map|raw }}
        </div>
    {% endif %}
{% endblock %}

{% block form %}
    <div class="text">
        {{ page.text|raw }}
    </div>
{% endblock %}

{% block javascripts %}

{% endblock %}
