{% extends "::base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/sitemain/frontend/css/bootstrap.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/sitemain/frontend/css/css.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/sitemain/frontend/css/style.css') }}"/>
{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="row" id="top-head">
            <div class="col-xs-12 col-sm-3 col-md-4 logo"><a href="."><img src="{{ asset('bundles/sitemain/frontend/img/logo.png') }}" alt=""></a></div>
            <div class="col-xs-12 col-sm-9 col-md-8">
                <div class="wrapper-menu-head">
                    <ul class="list-menu-head pull-right hover-top">
                        <li class="menu1"><a href="{{ path('frontend_page_index', {slug: 'rieghistratsiia15'}) }}"><img src="{{ asset('bundles/sitemain/frontend/img/port.png') }}" alt="" class="item1">Регистрация</a></li>
                        <li class="menu2"><a href="{{ path('frontend_page_index', {slug: 'miesto-proviedieniia'}) }}"><img src="{{ asset('bundles/sitemain/frontend/img/location.png') }}" alt="">Место проведения</a></li>
                        <li class="menu3"><a href="{{ path('frontend_page_index', {slug: 'proghramma'}) }}"><img src="{{ asset('bundles/sitemain/frontend/img/programm.png') }}" alt="">Программа</a></li>
                        <li class="menu4"><a href="{{ path('frontend_page_index', {slug: 'bukliet-uchastnika'}) }}"><img src="{{ asset('bundles/sitemain/frontend/img/buklet.png') }}" alt="">Буклет участника</a></li>
                    </ul>
                </div>


            </div>
        </div>

        {% block text %}
        {% endblock %}

        <div class="container-fluid">
            <div class="row body">
                <div class="col-xs-0 col-sm-0 col-md-3 col-lg-3"></div>
                {% block form %}
                {% endblock %}
            </div>
        </div>

    </div> <!-- exit fluid -->
    <!-- Верх меню ↑ -->

{% endblock %}

{% block head %}
    <script type="text/javascript" src="{{ asset('bundles/sitemain/frontend/js/jquery-1.11.2.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/sitemain/frontend/js/bootstrap.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/sitemain/frontend/js/myjs.js') }}"></script>
{% endblock %}